.custom-topic-image {
  float: left;
  margin-top: .3em;
  margin-right: .5em;
  width: 100px;
  height: 100px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}